<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include('../partials/head.ejs') %>
    </head>
<body>
    <%-include('../partials/header.ejs') %>
    <br>
    <% if (itemLength >= 1) { %>
    <div id="goEatDiv">
        <a id="goEat" href="/res/<%= randomItem.id %>">Go Eat!</a>
    </div>
    <br>
    <hr>
    <br>
    <div id="listItems">
        <div id="choicesDiv">
        <h2 id="choices">Your Choices!</h2>
        </div>
        
            <ul>
                <% for (let i in hopItem) { %>
                    <li>
                        <% if (hopItem.length === 0) { %>
                            There Is No Items! Click New To Create Some!
                            <% } %>
                            <br>
                            <div id="itemName">       
                                <a id="indexName" href="res/<%=hopItem[i].id %>">
                                    <%= hopItem[i].name %>
                                    </a>
                                    </div>
                                    <div id="itemOptions">
                                        <form action="/res/<%= hopItem[i].id %>?_method=delete" method="POST">
                                            <input id="delete" type="submit" value="Remove">
                                            </form>
                                            | <a href="/res/<%= hopItem[i].id %>/edit">Edit</a>
                                            <% } %>
                                            </div>
                                            <br>
                                            </li>
                                            </ul>
                                            <%} else { %>
                                            <p>There Is No Items! Click New To Create Some!</p>
                                            <%}%>
        </div>
        <%-include('../partials/footer.ejs') %>
</body>
</html>