<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head.ejs') %>
</head>
<body>
    <h1> <%= hopItem.name %></h1>
    <%= hopItem.price%>
    <%= hopItem.hours %>
    <%= hopItem.type %>
    <%= hopItem.rating %>
    <%= hopItem.img %>
    <a href="/res">back</a>
</body>
</html>