<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div id="hopDiv">
        <h1 id="hopName"><%= hopItem.name %></h1>  <h1 id="hopRate">Rating:<%= hopItem.rating %> </h1>
    </div> 
    <img src= "<%= hopItem.img %>" id="showImg" srcset="">
    <p id="">
        Price:<%= hopItem.price%> 
        Hours:<%= hopItem.hours %> 
        Type of Food:<%= hopItem.type %>
    </p>
    <br>
    <a id="goBack" href="/res">Back</a>
</body>
</html>