<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../partials/head.ejs') %>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <h1> <%= hopItem.name %> Rating:<%= hopItem.rating %> </h1>
    <img src= "<%= hopItem.img %>" alt="" srcset="">
    Price:<%= hopItem.price%> Hours:<%= hopItem.hours %> Type of Food:<%= hopItem.type %>
    <a href="/res">back</a>
</body>
</html>